/* add review whole container */
.post-container {
  margin: 0;
  position: relative;
  /* background-color: #F7F7F7; */
  
}

/* review container */
/* center div horizontally, child has margin: 0 auto  */
/* center div w/flexbox vertically, parent justify-content: center */
.review-container {
  margin: 0 auto;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid transparent;  
  height: 550px;
  /* border-radius: 35px; */
  width: 500px;
  /* background-color: #DBD8D6; */
  /* background-color: #F7F7F7; */
  background-color: #FFFFFF;
}

/* title of post */
.create-post-txt {
  color: #1F0000;  
  /* color: white; */
}

/* input fields */
.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;  
}

#postTitle {
  width: 350px;
  height: 15px;
  font-size: 1.2rem;
  padding: 10px 10px;
  border: none;
  /* border-radius: 7px; */
  text-align: center;
  font-family: Lato, sans-serif;  
  font-size: 1.3rem;
  border: 1px solid #1F0000;
}

/* #dateOfTravel {
  width: 50%;
  height: 35px;
  font-size: 1.0rem;
  padding: 10px 10px;
  border: none;
  border-radius: 7px;
  font-size: 20px;
} */


/* date container */
.form-control {
  font-size: 0.95em;
  border: none;
  /* border-radius: 7px; */
  padding: 10px 10px;
  text-align: center;
  font-family: Lato, sans-serif;
  width: 350px;
  height: 10px;
  border: 1px solid #1F0000;
}

/* stars for add review */
.star-container {
  display: flex;
  gap: 5px
}

input[type="radio"] {
  display: none;
}

.post-star { 
  font-size: 20px;
  text-decoration: none;
}

.post-star:hover {
  cursor: pointer
}

/* post description for add review */
#postDescription {
  font-size: 1.0rem;
  padding: 11px 10px;
  resize: none;
  border: none;
  /* border-radius: 7px; */
  margin: 0;
  font-family: Lato, sans-serif;
  width: 350px;
  border: 1px solid #1F0000;
}

.postPhoto-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

/* upload image for add review */
.photo-display-container {
  padding-left: 30%;
}

input[type='file'] {
  display: none;
} 

.postPhoto-label {
  font-size: 0.8rem;
  font-family: Lato,  sans-serif;
  border: 1px solid black;
  width: max-content;
  padding: 5px;
  position: absolute;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.7); 
  transition: all 200ms ease;
}

.postPhoto-label:hover {
  cursor: pointer;
  /* background-color: #BDBDBD; */
}
.postPhoto-label:active {
  box-shadow: none;
}

.img-post {
  position: absolute;
  width: 40px;
  height:25px
}

/* cancel and post button from add review */
.btn-container {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.post-btn {
  width: 25%;
  padding: 10px;
  /* border-radius: 5px; */
  border: none;
  cursor: pointer; 
  /* box-shadow: 0px 1px 2px rgba(0,0,0,0.5); */
  /* background-color: #36EBFC; */
  background-color: #F7F7F7;
  font-family: Lato, sans-serif;
  font-size: 0.8rem;
  transition: all 200ms ease;
}

.post-btn:hover {
  background-color: #94C8D5;
}

.cancel-btn {
  width: 25%;
  padding: 10px;
  /* border-radius: 5px; */
  border: none;
  cursor: pointer; 
  background-color: #F7F7F7;
  font-family: Lato, sans-serif;
  font-size: 0.8rem;
  transition: all 200ms ease;
}

.cancel-btn:hover {
  background-color: #BDBDBD;
}