* {
  font-family: Lato, sans-serif;
}

body {
  font-family: Lato, sans-serif;
  color: #1F0000;
}

.background-img {
  /* position: relative; */
  background-image: url('./images/beach-photo-2.jpg');
  background-size: cover;
  height: 100vh;
  background-position: center;
  background-repeat: no-repeat; 
}

.profile-background {
  background-color: #FFFFFF;
}

.login-background {
  background: linear-gradient(99deg,#F4B4BC, #F6C3A7);
  height: 100vh;
}



/* navbar */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  width: 90%;
}

/* header {
  padding: 10px 0;
}

header::after {
  content: '';
  display: table;
  clear: both;
} */

.main-nav {
  display: flex;
  align-items: center;
}

.title-site {
  text-transform: uppercase;
  font-size: 20px;
}


nav ul {
  margin: 0;
  padding: 0;
}

.main-nav li {
  display: inline-block;
  position: relative;
  margin-right: 25px;
  padding-top: 5px;
  padding-bottom: 5px;
}

nav a {
  text-decoration: none;
  text-transform: uppercase;
  color: #1F0000;  
  font-size: 16px;
  cursor: pointer;
}

/* nav div {
  display: inline-block;
}

.profile-dropDown-container {
  position: relative;
}

.profile-dropDown-menu {
  display: none;
  position: absolute;
  width: 107%;
  z-index: 1;
  overflow: auto;
}

.profile-dropDown-container:hover .profile-dropDown-menu {
  display: block;
} */


 /* resize nabbar */
.resize-nav-container {
  display: none;
}

.dropdown-icon {
  padding-top: 0.8rem;
  font-size: 2.0rem;
  cursor: pointer;
}

#dropdown-checkbox {
  display: none;
}

#dropdown-checkbox:checked + label + .resize-nav{
  opacity: 1;
  /* drops down to 0 */
  transform: translateY(0);
  pointer-events: auto;
}


/* .dropdown:hover .resize-nav {
  opacity: 1;
  transform: translateY(0)
} */


.resize-nav {
  opacity: 0;
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
  /* move up 10px */
  transform: translateY(-10px);
  pointer-events: none;
}

.dropdown-items li {
  margin: 5px 0;
  list-style: none;
}


/* line generators from middle outward */
.nav-items a:after,
.dropdown-items a:after {
  content: '';
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  left: 0;
  margin-top: 0.1rem;
  transform: scaleX(0); 
  transition: all ease-in-out .3s;
  background-color: #1F0000; 
  /* background-color: #FFFFFF; */
}
.nav-items a:hover::after,
.dropdown-items a:hover::after {
  transform: scaleX(1);
}










/* home page */
#slide-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 470px;
  height: 300px;
  background-color: rgba(0, 0, 0, 0.2);
  border-radius: 0.6rem;
}

.slide-intro {
  color: white;
  padding: 20px 0 0 65px;
  font-size: 1.7rem;
}

.slide-txt {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1.3rem;
  color: white;
  word-spacing: 0.1em;
  margin: 0;
}


/* add review whole container */
.post-container {
  margin: 0;
  position: relative;
  /* background-color: #F7F7F7; */
}

/* review container */
/* center div horizontally, child has margin: 0 auto  */
/* center div w/flexbox vertically, parent justify-content: center */
.review-container {
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  /* display: grid; */
  width: 450px;
  border: 2px solid transparent;  
  background-color: white;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.4);
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

/* input fields */
.form-inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 8px;
  margin: 0 auto;  
}

.create-post-txt {
  margin: 15px 0 10px 0;
  font-size: 1.5rem;
}

#postTitle {
  width: 350px;
  height: 15px;
  font-size: 1.2rem;
  padding: 10px 10px;
  border: none;
  text-align: center;
  font-size: 1.3rem;
  border: none;
  outline: none;
  background: none;
  border-bottom: 1px solid #1F0000;
}

/* #postTitle[data-error] {
  border-bottom: 1px solid red;
}

#postTitle[data-error]::after {
  content: attr(data-error);
  font-size: 5px;
}  */

/* #dateOfTravel {
  width: 50%;
  height: 35px;
  font-size: 1.0rem;
  padding: 10px 10px;
  border: none;
  border-radius: 7px;
  font-size: 20px;
} */


/* date container */
/* for  */
/* .form-control {
  display: none;
  font-size: 0.95em;
  border: none;
  border-radius: 7px;
  padding: 10px 10px;
  text-align: center;
  width: 350px;
  height: 10px;
  border: 1px solid #1F0000;
} */

#date-input {
  font-size: 0.95em;
  border: none;
  padding: 10px 10px;
  text-align: center;
  width: 350px;
  height: 10px;
  border: 1px solid #1F0000;
  border: none;
  outline: none;
  background: none;
}

.date-label {
  margin-top: 5px;
  text-align: center;
}

.react-datepicker-wrapper .react-datepicker__close-icon {
  display: none;
}

/* 
#postDate {
 width: 350px;
 height: 10px;
 font-size: 0.95rem;
} */

/* stars for add review */
.star-container {
  display: flex;
  gap: 5px
}

input[type="radio"] {
  display: none;
}

.post-star { 
  font-size: 20px;
  text-decoration: none;
}

.post-star:hover {
  cursor: pointer
}

/* post description for add review */
#postDescription {
  font-size: 1.0rem;
  padding: 11px 10px;
  resize: none;
  border: none;
  margin: 0;
  width: 350px;
  height: 155px;
  border: 1px solid #1F0000;
}

.postPhoto-container {
  text-align: start;
}

.post-error {
  position: relative;
  margin-bottom: 10px;
}

.post-error .post-txt-error {
  color: #C92432;
}

/* end of add review styling */

/* upload image for add review */
.photo-display-container {
  padding-left: 30%;
}

#photoUrl {
  font-size: 1.0rem;
  padding: 10px 10px;
  resize: none;
  border: none;
  margin: 5px 0 0 0;
  width: 350px;
  border: 1px solid #1F0000;
}

.review-container input:invalid {
  outline: 1px solid red;
}


/* styles for button/choosing photo from comptuer */
input[type='file'] {
  display: none;
} 

.postPhoto-label {
  font-size: 0.8rem;
  font-family: Lato,  sans-serif;
  border: 1px solid #1F0000;
  width: max-content;
  padding: 5px;
  position: absolute;
  box-shadow: 0px 1px 2px rgba(0,0,0,0.7); 
  transition: all 200ms ease;
}

.postPhoto-label:hover {
  cursor: pointer;
}
.postPhoto-label:active {
  box-shadow: none;
}

.img-post {
  position: absolute;
  width: 40px;
  height:25px
}

/* cancel and post button from add review */
.btn-container {
  display: flex;
  justify-content: space-between;
  margin: 0 0 15px 0;
}

.post-btn {
  width: 25%;
  padding: 10px;
  border: none;
  border-radius: 0.25rem;
  background-color: #E4E5E9;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
  cursor: pointer; 
  transition: all 150ms ease-in-out;
  text-align: center;
}

.post-btn:active {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

.cancel-btn {
  width: 25%;
  padding: 10px;
  border: none;
  border-radius: 0.25rem;
  background-color: #E4E5E9;
  box-shadow: 0 4px 3px 0 rgba(0, 0, 0, 0.3);
  font-size: 0.8rem;
  cursor: pointer; 
  transition: all 150ms ease-in-out;
  text-align: center;
}

.cancel-btn:active {
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.3);
  transform: translateY(2px);
}

/* full page of profile */
.profile-container {
  margin: 0 auto;
  width: 100%;
}

/* username and setting */
.profile-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.profile-username {
  font-size: 1.8rem;
  margin-left: 45px;
}

/* setting button and features */
.profile-setting {
  font-size: 1.5rem;
  padding-top: 0.5rem
}

.profile-setting:hover {
  cursor: pointer;
}


#modal-backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1000;
  background-color: rgba(79, 79, 79, 0.7);
}

.close-btn {
  font-size: 2.0rem;
  color: white;
  z-index: 1001;
  cursor: pointer;
}

#setting-btn-list {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1001;
  width: 250px;
  display: flex;
  flex-direction: column;
}

#setting-btn-list .close-btn {
  background-color: none;
  align-self: flex-end;
  margin-bottom: 20px;
} 

.logout-btn,
.delete-btn {
  border: none;
  width: 100%;
  margin: 0;
  padding: 10px;
  background-color: #FAFAFA;
  border-bottom: 1px solid #DDDDDD;
  font-size: 14px;
}

.delete-btn {
  border-bottom: 0px;
}

.logout-btn,
.delete-btn:hover {
  cursor: pointer;
}

/* all of users' post */
.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  align-items: flex-start;
  gap: 35px;
  padding: 0px 35px;
}

/* individual post */

.white-background {
  background: white;
}
.card-post {
  background: white;
  box-shadow: 0 4px 5px 0 rgba(0, 0, 0, 0.3);
  border-radius: .25rem;
  overflow: hidden;
}

.card-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #1F0000;
  height: 45px;
}

.card-username {
  padding-left: 20px;
}

.card-date {
  padding-right: 20px;
}

.card-title {
 margin: 0;
 padding: 15px 0px;
 text-align: center;
}

.card-rating-container {
  text-align: center;
}

.card-star {
  font-size: 1.3rem;
  padding: 0 0.1rem;
}

.card-description {
  padding: 0px 20px;;
}

.card-container {
  transition: 225ms transform ease-in-out;
}

.card-photo {
  display: block;
  overflow: hidden;
  width: 100%;
  max-height: 200px;
  aspect-ratio: 16 / 9;
  object-fit: cover;
  object-position: center;
}

.card-photo-container:hover > img {
  transform: scale(1.02);
}

.no-review-txt {
  text-align: center;
}


/* log in page */
.login-container,
.account-container {
  /* position to transform used to center */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 550px;
  height: auto;
  background: white;
  border-radius: 12px;
}

.login-title,
.account-title {
  border-bottom: 1px solid #BDBDBD;
  text-align: center;
}

.login-container form,
.account-container form {
  padding: 0 40px;

}

form .login-form,
form .account-form  {
  position: relative;
  border-bottom: 1px solid #BDBDBD;
  margin: 30px 0;
}

.login-form Input,
.account-form Input {
  width: 100%;
  padding: 0 5px;
  height: 40px;
  border: none;
  outline: none;
  background: none;
  font-size: 1.0rem;
}

.login-form label,
.account-form label {
  position: absolute;
  left: 5px;
  top: -5px;
  transform: translateY(-50%);
  color: #BDBDBD;
  font-size: 1.15rem;
  pointer-events: none;
  transition: 0.4s;
}


.login-form span::before,
.account-form span::before {
  content: '';
  position: absolute;
  width: 0;
  top: 40px;
  left: 0;
  height: 2px;
  background: #FDB289;
  transition: 0.4s;
  transform: scaleX(0);
}

/* if input is focused it will hold these properties */
/* input:valid: any content inside will hold properties*/
.login-form input:focus ~ label, 
.login-form input:valid ~ label,
.account-form input:focus ~ label,
.account-form input:valid ~ label {
  color: #FDB289;
}



.login-form input:focus ~ span::before,
.login-form input:valid ~ span::before,
.account-form input:focus ~ span::before, 
.acount-form input:valid ~ span::before {
  width: 100%;
  transform: scaleX(1);
}

.password-requirements li {
  color: #C92432;
}

.login-form input:valid ~ .wrong-login,
.account-form input:valid ~ .username-taken,
.account-form input:valid ~ .password-not-match {
  color: #C92432;
}

.invalid-str-account {
  position: absolute;
  top: 280px;
  margin-left: 5px;
  color: #C92432;
}

.login-btn-container {
  display: flex;
  justify-content: space-between;
}

input[type="submit"]#login-btn,
input[type="button"]#login-create-account-btn {
  width: 30%;
  height: 50px;
  background: #FDB289;
  border: 1px solid;
  border-radius: 28px;
  font-size: 0.9rem;
  color: #FAFAFA;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 25px 0;
  cursor: pointer;
  outline: none;
}

input[type="submit"]#create-account-btn {
  width: 100%;
  height: 50px;
  background: #FDB289;
  border: 1px solid;
  border-radius: 28px;
  font-size: 1.2rem;
  color: #FAFAFA;
  font-weight: 700;
  letter-spacing: 0.1rem;
  margin: 10px 0 25px 0;
  cursor: pointer;
  outline: none;
}

.account-back-btn {
  position: absolute;
  font-size: 2.6rem;
  margin: 13px 10px;
  cursor: pointer
}



/* media */

/* regular phones */
@media (min-width: 301px) and (max-width: 450px) {
  .navbar-container {
    display: none;
  }
  .resize-nav-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 90%;
  }
  nav a {
    font-size: 0.8rem;
  }
  .nav-items a:hover::after,
  .dropdown-items a:hover::after {
    width: 0;
    transform: translateX(0)
  }
  #slide-container {
    width: 300px;
  }
  .slide-intro {
    padding: 30px 0 0 30px;
    font-size: 1.2em;
  }
  .slide-txt {
    font-size: 0.9rem;
    padding-bottom: 30px;
  }
  .review-container {
    width: 300px;
    height: 410px;
    margin-top: 20px;
  }
  .create-post-txt {
    margin: 0;
    font-size: 1.1rem;
  }
  #postTitle {
    width: 53%;
    margin: 0 auto;
    font-size: 0.9em;
  }
  .date-label {
    margin: 0;
    font-size: 0.9em;
  }
  #date-input {
    width: auto;
    padding-left: 45px;
    font-size: 0.9em;
  }
  .post-star {
    font-size: 1.0rem;
  }
  #postDescription {
    width: 225px;
    font-size: 0.9em;
    height: 90px;
  }
  #photoUrl {
    width: 227px;
    font-size: 0.9em;
  }
  .post-txt-error {
    font-size: 0.7em;
  }
  .btn-container {
    margin: 0;
  }
  .cancel-btn {
    font-size: 0.7rem;
  }
  .post-btn {
    font-size: 0.7rem;
  }

  .login-container{
    width: 300px;
  }
  .login-btn-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  input[type="submit"]#login-btn,
  input[type="button"]#login-create-account-btn {
    width: 150px;
    margin: 10px 0 15px 0;
  }

  .account-container {
    width: 325px;
  }
  input[type="submit"]#create-account-btn {
    font-size: 1.0rem;
    margin-bottom: 20px;
  }
}


 /* between regular and long width */
 @media (min-width: 451px) and (max-width: 999px) {
  .account-container {
    width: 500px;
  }
  .login-container {
    width: 490px;
  }
  input[type="submit"]#login-btn,
  input[type="button"]#login-create-account-btn {
    width: 150px;
    margin-top: 0;
  }
 }


/* very tall screen */
@media (min-height: 1000px) {
  .review-container {
    margin-top: 200px;
  }
  .create-post-txt {
    font-size: 1.4rem;
  }
  .btn-container {
    margin: 0;
    padding: 0 0 25px 0;
  }
}

/* very wide but low height */
@media (min-width: 1000px) and (max-height: 600px) {
  .review-container {
    width: 450px;
    height: 485px;
    margin: 15px auto;
  }
  .create-post-txt {
    font-size: 1.3rem;
    margin: 0 0 10px 0;
  }
  #postTitle {
    font-size: 1.0rem;
  }
  #postDescription {
    height: 110px;
  }

  .btn-container {
    margin: 0;
    padding-top: 10px;
  }
}

/* very low width */
@media(max-width: 300px) {
  .navbar-container {
    display: none;
  }
  .resize-nav-container {
    display: flex;
    justify-content: space-between;
    margin: 20px auto;
    width: 90%;
  }
  nav a {
    font-size: 0.8rem;
  }
  .dropdown-icon {
    padding: 0;
    margin-top: 10px;
  }

  .nav-items a:hover::after,
  .dropdown-items a:hover::after {
    width: 0;
    transform: translateX(0)
  }

  #slide-container {
    width: 250px;
  }

  .slide-intro {
    padding: 30px 0 0 30px;
    font-size: 1.2em;
  }
  .slide-txt {
    font-size: 0.9rem;
    padding-bottom: 30px;
  }

  .review-container {
    width: 225px;
    height: 420px;
    margin-top: 20px;
  }
  .create-post-txt {
    margin: 0;
    font-size: 1.1rem;
  }
  #postTitle {
    width: 53%;
    margin: 0 auto;
    font-size: 0.9em;
  }
  .date-label {
    margin: 0;
    font-size: 0.9em;
  }
  #date-input {
    width: auto;
    font-size: 0.9em;
  }
  .post-star {
    font-size: 1.0rem;
  }
  #postDescription {
    width: 150px;
    font-size: 0.9em;
    height: 90px;
  }
  #photoUrl {
    width: 150px;
    font-size: 0.9em;
  }
  .post-txt-error {
    font-size: 0.7em;
  }
  .btn-container {
    margin: 0;
  }
  .cancel-btn {
    font-size: 0.6rem;
  }
  .post-btn {
    font-size: 0.6rem;
  }

  .card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(225px, 1fr));
    justify-content: center;
  }
  #setting-btn-list {
    width: 200px;
  }
  .login-container {
    width: 240px;
  }
  .login-btn-container {
    flex-direction: column-reverse;
    align-items: center;
  }
  input[type="submit"]#login-btn,
  input[type="button"]#login-create-account-btn {
    width: 120px;
    height: 45px;
    margin: 10px 0 10px 0;
    font-size: 0.7rem;
  }

  input[type="button"]#login-create-account-btn {
    margin-bottom: 25px;
  }
  .account-container {
    width: 250px;
    height: 500px;
  }
  .account-title {
    font-size: 0.8rem;
  }
  .account-back-btn {
    margin: 8px;
  }
  .account-form label {
    font-size: 1.0rem;
  }
  input[type="submit"]#create-account-btn {
    font-size: 1.0rem;
    /* margin: 0; */
  }

  .password-requirements {
    font-size: 0.8rem;
  }
}